In [1]:
import pandas as pd
import os
import glob
from datetime import date

In [2]:
#import one csv file to test
df=pd.read_csv('../project1_data/201608-citibike-tripdata.csv', nrows = 10)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,288,8/1/2016 00:01:22,8/1/2016 00:06:11,302,Avenue D & E 3 St,40.720828,-73.977932,428,E 3 St & 1 Ave,40.724677,-73.987834,16920,Subscriber,1961,1
1,457,8/1/2016 00:01:43,8/1/2016 00:09:21,285,Broadway & E 14 St,40.734546,-73.990741,432,E 7 St & Avenue A,40.726218,-73.983799,20084,Subscriber,1989,2
2,278,8/1/2016 00:02:10,8/1/2016 00:06:49,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3096,Union Ave & N 12 St,40.719240,-73.952420,18380,Subscriber,1971,1
3,862,8/1/2016 00:02:13,8/1/2016 00:16:36,280,E 10 St & 5 Ave,40.733320,-73.995101,280,E 10 St & 5 Ave,40.733320,-73.995101,24101,Subscriber,1995,1
4,407,8/1/2016 00:02:21,8/1/2016 00:09:09,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,428,E 3 St & 1 Ave,40.724677,-73.987834,18949,Subscriber,1993,1
5,321,8/1/2016 00:03:33,8/1/2016 00:08:55,471,Grand St & Havemeyer St,40.712868,-73.956981,3086,Graham Ave & Conselyea St,40.715143,-73.944507,23573,Subscriber,1981,1
6,122,8/1/2016 00:04:16,8/1/2016 00:06:19,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25162,Subscriber,1986,1
7,770,8/1/2016 00:04:21,8/1/2016 00:17:11,434,9 Ave & W 18 St,40.743174,-74.003664,519,Pershing Square North,40.751873,-73.977706,19788,Subscriber,1992,1
8,230,8/1/2016 00:04:31,8/1/2016 00:08:21,3265,E 2 St & 2 Ave,40.724563,-73.989444,150,E 2 St & Avenue C,40.720874,-73.980858,19105,Subscriber,1983,1
9,422,8/1/2016 00:05:27,8/1/2016 00:12:30,252,MacDougal St & Washington Sq,40.732264,-73.998522,445,E 10 St & Avenue A,40.727408,-73.981420,22650,Subscriber,1993,1

In [3]:
#trim the excess files
path = '../project1_data/'
os.chdir(path)
files = [i for i in glob.glob('*.csv')]
files

['201608-citibike-tripdata.csv',
 '201609-citibike-tripdata.csv',
 '201610-citibike-tripdata.csv',
 '201611-citibike-tripdata.csv',
 '201612-citibike-tripdata.csv',
 '201701-citibike-tripdata.csv',
 '201702-citibike-tripdata.csv',
 '201703-citibike-tripdata.csv',
 '201704-citibike-tripdata.csv',
 '201801_citibikejc_tripdata.csv',
 '201802_citibikejc_tripdata.csv',
 '201803_citibikejc_tripdata.csv',
 'JC-201705-citibike-tripdata.csv',
 'JC-201706-citibike-tripdata.csv',
 'JC-201707-citibike-tripdata.csv',
 'JC-201708 citibike-tripdata.csv',
 'JC-201709-citibike-tripdata.csv',
 'JC-201710-citibike-tripdata.csv',
 'JC-201711-citibike-tripdata.csv',
 'JC-201712-citibike-tripdata.csv',
 'JC-201804-citibike-tripdata.csv',
 'JC-201805-citibike-tripdata.csv']

In [4]:
all_df = pd.DataFrame()
for file in files:
    file = '../project1_data/' + file
    df=pd.read_csv(file, nrows=1)
#     print(df.columns)
    all_df = all_df.append(df)

In [5]:
columns = df.columns

In [6]:
#clean up data table

#convert gender
# 0 = unknown, 1=male, 2=female
gender = {1:'f', 2:'m', 0:'unknown'}
all_df['gender'] = all_df['gender'].map(gender)

#generate age
def calc_age(birth_year):
    today = date.today()
    return today.year - birth_year
all_df['age'] = all_df['birth year'].apply(calc_age)

In [7]:
all_df

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,name_localizedValue0,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype,age
0,16920,1961,428,40.724677,-73.987834,E 3 St & 1 Ave,f,NaN,302,40.720828,-73.977932,Avenue D & E 3 St,8/1/2016 00:01:22,8/1/2016 00:06:11,288,Subscriber,57
0,22609,1985,313,40.696102,-73.967510,Washington Ave & Park Ave,f,NaN,312,40.722055,-73.989111,Allen St & Stanton St,9/1/2016 00:00:02,9/1/2016 00:16:18,975,Subscriber,33
0,25254,1992,3077,40.708771,-73.950953,Stagg St & Union Ave,f,NaN,471,40.712868,-73.956981,Grand St & Havemeyer St,2016-10-01 00:00:07,2016-10-01 00:05:35,328,Subscriber,26
0,21959,1981,419,40.695807,-73.973556,Carlton Ave & Park Ave,f,NaN,324,40.689888,-73.981013,DeKalb Ave & Hudson Ave,2016-11-01 00:00:08,2016-11-01 00:05:40,331,Subscriber,37
0,26931,1964,228,40.754601,-73.971879,E 48 St & 3 Ave,f,NaN,499,40.769155,-73.981918,Broadway & W 60 St,2016-12-01 00:00:04,2016-12-01 00:08:52,528,Subscriber,54
0,25542,1965,3165,40.775794,-73.976206,Central Park West & W 72 St,m,NaN,3226,40.782750,-73.971370,W 82 St & Central Park West,2017-01-01 00:00:21,2017-01-01 00:11:41,680,Subscriber,53
0,17432,1966,305,40.760958,-73.967245,E 58 St & 3 Ave,f,NaN,345,40.736494,-73.997044,W 13 St & 6 Ave,2017-02-01 00:00:13,2017-02-01 00:18:20,1087,Subscriber,52
0,27291,1973,527,40.744023,-73.976056,E 33 St & 2 Ave,m,NaN,2009,40.711174,-73.996826,Catherine St & Monroe St,2017-03-01 00:00:32,2017-03-01 00:32:06,1893,Subscriber,45
0,25454,1966,430,40.701485,-73.986569,York St & Jay St,f,NaN,217,40.702772,-73.993836,Old Fulton St,2017-04-01 00:00:58,2017-04-01 00:04:14,195,Subscriber,52
0,29590,1964,3211,40.721525,-74.046305,Newark Ave,f,Join Citi Bike for $14.95/month,3186,40.719586,-74.043117,Grove St PATH,2018-01-01 00:01:46,2018-01-01 00:03:58,132,Subscriber,54
0,29617,1984,3214,40.712774,-74.036486,Essex Light Rail,f,Annual Membership,3205,40.716540,-74.049638,JC Medical Center,2018-02-01 00:30:21,2018-02-01 00:36:47,386,Subscriber,34
0,29256,1988,3272,40.723332,-74.045953,Jersey & 3rd,f,Annual Membership from Citi Bike App,3273,40.721651,-74.042884,Manila & 1st,2018-03-01 00:04:48,2018-03-01 00:06:18,90,Subscriber,30
0,26177,1958,3214,40.712774,-74.036486,Essex Light Rail,f,NaN,3276,40.714584,-74.042817,Marin Light Rail,2017-05-01 00:03:19,2017-05-01 00:09:06,347,Subscriber,60
0,29590,1979,3194,40.725340,-74.067622,McGinley Square,f,NaN,3195,40.730743,-74.063784,Sip Ave,2017-06-01 00:01:39,2017-06-01 00:09:59,499,Subscriber,39
0,29643,1994,3267,40.712419,-74.038526,Morris Canal,m,NaN,3186,40.719586,-74.043117,Grove St PATH,2017-07-01 00:00:08,2017-07-01 00:05:48,340,Subscriber,24
0,26293,1968,3210,40.742677,-74.051789,Pershing Field,f,NaN,3187,40.721124,-74.038051,Warren St,2017-08-01 00:03:05,2017-08-01 00:24:59,1314,Subscriber,50
0,29670,1989,3276,40.714584,-74.042817,Marin Light Rail,f,NaN,3183,40.716247,-74.033459,Exchange Place,2017-09-01 00:02:01,2017-09-01 00:08:05,364,Subscriber,29
0,26187,1976,3192,40.711242,-74.055701,Liberty Light Rail,f,NaN,3213,40.718489,-74.047727,Van Vorst Park,2017-10-01 00:03:08,2017-10-01 00:09:59,410,Subscriber,42
0,31817,1975,3639,40.719252,-74.034234,Harborside,f,NaN,3199,40.728745,-74.032108,Newport Pkwy,2017-11-01 00:04:26,2017-11-01 00:10:37,370,Subscriber,43
0,29607,1988,3199,40.728745,-74.032108,Newport Pkwy,f,NaN,3183,40.716247,-74.033459,Exchange Place,2017-12-01 00:00:59,2017-12-01 00:08:32,452,Subscriber,30
0,26275,1977,3193,40.724605,-74.078406,Lincoln Park,f,Annual Membership,3195,40.730743,-74.063784,Sip Ave,2018-04-01 00:00:28,2018-04-01 00:06:52,383,Subscriber,41
0,33558,1988,3199,40.728745,-74.032108,Newport Pkwy,f,Annual Membership,3639,40.719252,-74.034234,Harborside,2018-05-01 00:04:47,2018-05-01 00:10:25,338,Subscriber,30

In [8]:
#age grouping
age_bins = [0, 20, 30, 40, 50, 60, 100]
age_groups = ['0-20', '21-30', '31-40', '41-50', '51-60', '61+']
all_df['age groups'] = pd.cut(all_df['age'], age_bins, labels=age_groups)

In [9]:
#new limited dataframe
bike_data = all_df[['age', 'age groups', 'gender', 'usertype','starttime', 'start station latitude', 'start station longitude', 
                   'stoptime', 'end station latitude', 'end station longitude', 'tripduration']].copy()
bike_data

,age,age groups,gender,usertype,starttime,start station latitude,start station longitude,stoptime,end station latitude,end station longitude,tripduration
0,57,51-60,f,Subscriber,8/1/2016 00:01:22,40.720828,-73.977932,8/1/2016 00:06:11,40.724677,-73.987834,288
0,33,31-40,f,Subscriber,9/1/2016 00:00:02,40.722055,-73.989111,9/1/2016 00:16:18,40.696102,-73.967510,975
0,26,21-30,f,Subscriber,2016-10-01 00:00:07,40.712868,-73.956981,2016-10-01 00:05:35,40.708771,-73.950953,328
0,37,31-40,f,Subscriber,2016-11-01 00:00:08,40.689888,-73.981013,2016-11-01 00:05:40,40.695807,-73.973556,331
0,54,51-60,f,Subscriber,2016-12-01 00:00:04,40.769155,-73.981918,2016-12-01 00:08:52,40.754601,-73.971879,528
0,53,51-60,m,Subscriber,2017-01-01 00:00:21,40.782750,-73.971370,2017-01-01 00:11:41,40.775794,-73.976206,680
0,52,51-60,f,Subscriber,2017-02-01 00:00:13,40.736494,-73.997044,2017-02-01 00:18:20,40.760958,-73.967245,1087
0,45,41-50,m,Subscriber,2017-03-01 00:00:32,40.711174,-73.996826,2017-03-01 00:32:06,40.744023,-73.976056,1893
0,52,51-60,f,Subscriber,2017-04-01 00:00:58,40.702772,-73.993836,2017-04-01 00:04:14,40.701485,-73.986569,195
0,54,51-60,f,Subscriber,2018-01-01 00:01:46,40.719586,-74.043117,2018-01-01 00:03:58,40.721525,-74.046305,132
0,34,31-40,f,Subscriber,2018-02-01 00:30:21,40.716540,-74.049638,2018-02-01 00:36:47,40.712774,-74.036486,386
0,30,21-30,f,Subscriber,2018-03-01 00:04:48,40.721651,-74.042884,2018-03-01 00:06:18,40.723332,-74.045953,90
0,60,51-60,f,Subscriber,2017-05-01 00:03:19,40.714584,-74.042817,2017-05-01 00:09:06,40.712774,-74.036486,347
0,39,31-40,f,Subscriber,2017-06-01 00:01:39,40.730743,-74.063784,2017-06-01 00:09:59,40.725340,-74.067622,499
0,24,21-30,m,Subscriber,2017-07-01 00:00:08,40.719586,-74.043117,2017-07-01 00:05:48,40.712419,-74.038526,340
0,50,41-50,f,Subscriber,2017-08-01 00:03:05,40.721124,-74.038051,2017-08-01 00:24:59,40.742677,-74.051789,1314
0,29,21-30,f,Subscriber,2017-09-01 00:02:01,40.716247,-74.033459,2017-09-01 00:08:05,40.714584,-74.042817,364
0,42,41-50,f,Subscriber,2017-10-01 00:03:08,40.718489,-74.047727,2017-10-01 00:09:59,40.711242,-74.055701,410
0,43,41-50,f,Subscriber,2017-11-01 00:04:26,40.728745,-74.032108,2017-11-01 00:10:37,40.719252,-74.034234,370
0,30,21-30,f,Subscriber,2017-12-01 00:00:59,40.716247,-74.033459,2017-12-01 00:08:32,40.728745,-74.032108,452
0,41,41-50,f,Subscriber,2018-04-01 00:00:28,40.730743,-74.063784,2018-04-01 00:06:52,40.724605,-74.078406,383
0,30,21-30,f,Subscriber,2018-05-01 00:04:47,40.719252,-74.034234,2018-05-01 00:10:25,40.728745,-74.032108,338

In [10]:
#gender count
gender = bike_data['gender'].value_counts().reset_index()
gender

  index  gender
0     f      19
1     m       3

In [14]:
#age
age = bike_data['age'].describe()
print(age)

average_age = bike_data['age'].mean()
print('')
print('the average user age is: '+ str(average_age))

#age bin counts
bike_data['age groups'].value_counts().reset_index()

count    22.000000
mean     41.590909
std      11.104092
min      24.000000
25%      30.750000
50%      41.500000
75%      52.000000
max      60.000000
Name: age, dtype: float64

the average user age is: 41.59090909090909

   index  age groups
0  51-60           7
1  21-30           6
2  41-50           5
3  31-40           4
4    61+           0
5   0-20           0